{% extends "base.html" %}

{% block title %} - About{% endblock %}

{% block content %}
<h1>About</h1>

<p>Bacon ipsum dolor sit amet strip steak venison ham, andouille t-bone spare ribs short ribs bresaola shankle chicken. Flank tail tenderloin shoulder hamburger venison filet mignon kevin ham hock andouille shankle pork chop turducken rump meatloaf. Flank sausage t-bone, doner prosciutto pig turducken andouille salami tongue jowl ball tip sirloin tail. Pork jowl tri-tip hamburger frankfurter beef brisket cow ribeye. Capicola pig t-bone turkey chuck short loin sirloin ground round ham pork chop kevin brisket leberkas ball tip. Andouille beef ribs chicken boudin doner, biltong pork loin hamburger sirloin pancetta. Pancetta pork chop meatloaf sirloin ground round beef ball tip spare ribs pig.</p>

<p>Pig capicola shoulder t-bone kielbasa spare ribs tenderloin. Hamburger turkey swine kielbasa. Swine drumstick cow fatback rump. Shank capicola bacon jerky, frankfurter boudin pork chop. Short ribs pork chop short loin tri-tip flank brisket drumstick. Cow meatball tri-tip beef ribs pork, spare ribs frankfurter pork loin sirloin swine doner ground round salami pastrami.</p>

<p>Shoulder tongue venison ham hock turkey biltong drumstick chicken filet mignon meatball bacon. Chuck prosciutto jowl tri-tip, drumstick jerky tongue pastrami strip steak ground round rump bresaola salami. Pork loin tri-tip short ribs tongue shoulder capicola flank sausage prosciutto brisket pig andouille. Ham hock swine shankle, prosciutto cow shoulder brisket bacon leberkas sirloin fatback frankfurter ground round bresaola.</p>

<p>Leberkas jowl meatball filet mignon tongue turkey ground round capicola rump shoulder. Bacon kielbasa boudin pork belly hamburger. Drumstick pork belly short loin tri-tip, strip steak sirloin chicken biltong frankfurter salami. Jerky swine prosciutto fatback filet mignon brisket shoulder. Pastrami frankfurter t-bone, sausage tenderloin fatback biltong tongue swine capicola shank jowl prosciutto short loin.</p>

{% endblock content %}