body {
  padding-top: 50px;
}

.entry {
  border-bottom: 1px solid #DADADA;
  padding-bottom: 20px;
}

.sidebar {
  width: 270px;
  background-color: #F8F8F8;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
}

#archives h2 {
  color: #777777;
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
}

#archives article {
  padding-bottom: 10px;
  padding-left: 15px;
  margin-left: 70px;
}

#archives h1 {
  margin-top: 0;
  font-size: 22px;
}

#archives time {
  margin-top: 3px;
  color: #777777;
  text-transform: uppercase;
  font-size: 15px;
}
